{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>My about page</h1>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>

    <img width="400" height="300" src="s.jpg">

</div>
{% endblock %}
