{% extends "layout.html" %}
{% block content %}
<div class="about">
    <h1>My about page</h1>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>
    <p>This is the details of the submarine I am working on </p>

    <img width="400" height="300" src="https://en.wikipedia.org/wiki/Yasen-class_submarine#/media/File:%D0%9A-560_%C2%AB%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%D0%BE%D0%B4%D0%B2%D0%B8%D0%BD%D1%81%D0%BA%C2%BB.jpg" alt="submarine"/>

</div>
{% endblock %}
